@import '@fontsource/roboto';

$white: #FFF;
$blue-main: #1951E7;
$blue-second: #1341B9;
$blue-bg: #91AFF5;
$blue-bg-second: #6F98FF;
$black-text: #292929;
$silver-text: #606C8C;
$gray-bg: #BBBED1;
$white-bg: #F4F6FB;
$black-bg: #242424;
$gray-border: #C6C9DC;
$gray-text: #B3B6C9;
$gray-bg-second: #2E2E2F;
$gray-bg-line: #393939;
$yellow-bg: #F77A09;
$orange-bg: #FDAC6A;
$green-bg: #41B162;

$main-font: 'Roboto',
sans-serif;

$font-size: 20px;

$line-height: 24px;

$max-width: 1503;